<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <title>Steam Game Scrapper</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    </head>

    <body>
        <main class="container">
            <h1>Steam Discount</h1>
            <p>Type "steam" to see the steam game discounts.</p>
            <p>Press "Enter" once</p>
            <form action="/search">
                <input type="text" name="fileName" placeholder="steam">
                <button>Enter</button>
            </form>
        </main>
    </body>
</html>